{% set profile_base_class = 'profile' %}

<div {{ bem('image', ['backsplash'], profile_base_class) }}>
	{{ backsplash }}
</div>
<div {{ bem('flex-wrapper', [], profile_base_class) }}>
	<div {{ bem('image', [], profile_base_class) }}>
		{{ profile_img }}
	</div>
	<div {{ bem('info-wrapper') }}>
		{{ flair }}
		{% include "@atoms/text/headings/_heading.twig" with {
      "heading_level": 1,
      "heading": name,
    } %}

		{{ positions }}

		{% embed "@atoms/fields/icon/icon-field.twig" with {
      icon: 'phone',
      field_modifiers: ['phone', 'profile'],
      }%}
			{% block additional_content %}
				{{ phone }}
			{% endblock %}
		{% endembed %}

		{% embed "@atoms/fields/icon/icon-field.twig" with {
      icon: 'email',
      field_modifiers: ['email', 'profile'],
      }%}
			{% block additional_content %}
				{{ email }}
			{% endblock %}
		{% endembed %}

		{% embed "@atoms/fields/icon/icon-field.twig" with {
      icon: 'location',
      field_modifiers: ['location', 'profile'],
      }%}
			{% block additional_content %}
				{{ office }}
			{% endblock %}
		{% endembed %}

		{{ education }}
	</div>
</div>

<div>
  {{ subpages }}
</div>
