{#
    calendar_link is set for alternate link
    primary_link is set for primary_link

#}


{% set simple_event__base_class = 'simple-event' %}

<div {{bem(simple_event__base_class,[]) }} >
    <div class="simple-event-wrapper">
        <div class="simple-event-image">
            {{ event_image }}
        </div>
        <div class="simple-event-side-text">
            <div class="event-title">{{event_title}}</div>
            
            <div class="simple-event-special-info">
            
            {% if ranged_date %}
                {{ranged_date}}
            {% elseif event_date %}
                {{event_date}}
            {% endif %}
            

            {# if ranged date see if I can display like chris showed, 
            if start date only just display start date in normal display format.
            #}
        
            {# Location stuff #}
            <div class="simple-event-location">
            {% if geo_location_lat and geo_location_long and not text_location %}
                    <a href="https://www.google.com/maps/search/?api=1&query={{geo_location_lat}}%2C{{geo_location_long}}" target="_blank">View Location on Google Maps</a>
            {% elseif  not (geo_location_lat and geo_location_long) and text_location %}   
                    Location: {{text_location}}
            {% elseif geo_location_lat and geo_location_long and text_location %}
                    Location: <a href="https://www.google.com/maps/search/?api=1&query={{geo_location_lat}}%2C{{geo_location_long}}" target="_blank">{{text_location}}</a>
            {% endif %}
            </div>

            {{primary_link}}
            {% if calendar_link %}
                <div class="simple-link">
                    <a href="{{calendar_link}}">View on the Lehigh Calendar</a>
                </div>
            {% endif %}
            </div>

            <div class= "simple-event-body">
                {{body}}
            </div>

        </div>
    </div>
</div>
