{#
 #   Available Variables:
 #       callout_accent: Use accent color - boolean
 #       callout_dark: Use dark colors - Boolean
 #       callout_decor: Name of outside svg decoration
 #       callout_img_loc: Image field alignment
 #       callout_title: Title field
 #       callout_body: Body field
 #       callout_image: image src
 #       callout_link: Link field
 #       callout_link_decor: Link outline - Boolean,
#}
{% set callout__base_class = 'callout' %}

{% set callout__modifiers = [] %}
{% set decor__mods = [] %}

{% if callout_link %}
    {% set link_content %}
        {% if callout_link_decor %}
            {% include '@atoms/buttons/simple-link.twig' with {
                link_content: callout_link,
            } %}
        {% else %}
            <div class="simple-link">{{ callout_link }}</div>
        {% endif %}
    {% endset %}
{% endif %}

{% if callout_dark %}
    {% set callout__modifiers = callout__modifiers|merge(['dark']) %}
{% endif %}

{% if callout_accent %}
    {% set callout__modifiers = callout__modifiers|merge(['accent']) %}
{% endif %}

{# SVG decoration logic #}
{% set svg = "slash" %}
{% set double_dec = false %}

{% if callout_decor %}
    {% if callout_decor == "corner_lines" %}
        {% set svg, double_dec = "slash", true %}
    {% elseif callout_decor == 'corner_lines_accent' %}
        {% set svg, double_dec = "slash", true %}
        {% set decor__mods = decor__mods|merge(['accent']) %}

    {% elseif callout_decor == "corner_dots" %}
        {% set svg, double_dec = "dots", true %}
    {% elseif callout_decor == 'corner_dots_accent' %}
        {% set svg, double_dec = "dots", true %}
        {% set decor__mods = decor__mods|merge(['accent']) %}
        {% set callout__modifiers = callout__modifiers|merge(['overline']) %}

    {% elseif callout_decor == 'dots_outline' %}
        {% set svg = "dots" %}
        {% set decor__mods = decor__mods|merge(['overline']) %}
    {% elseif callout_decor == 'dots_outline_accent' %}
        {% set svg = "dots" %}
        {% set decor__mods = decor__mods|merge(['overline', 'accent']) %}
        {% set callout__modifiers = callout__modifiers|merge(['overline']) %}

    {% endif %}
{% endif %}

{# END variable settings#}

{% if double_dec %}
    {% include '@atoms/images/icons/decor/_decor.twig' with {
        pattern: svg,
        pattern2: svg,
        decor_modifiers: decor__mods,
    } %}
{% else %}
    {% include '@atoms/images/icons/decor/_decor.twig' with {
        pattern: svg,
        decor_modifiers: decor__mods,
    } %}
{% endif %}

<div {{ bem(callout__base_class, callout__modifiers, callout__blockname, callout__extra_classes) }}>
    {% if callout_title %}
        {% include '@atoms/text/headings/_heading.twig' with {
            heading: callout_title,
            heading_level: 3,
            heading_blockname: 'callout',
        } %}
    {% endif %}

    <div {{ bem(callout__base_class ~ '-flex-wrapper', []) }}>
        {% if callout_img_loc == 'right' %}
            <div {{ bem(callout__base_class ~ '-text', []) }}>
                {{ callout_body }}
                {{ link_content }}
            </div>
            {% if has_callout_image %}
                <div class="img-right">{{ callout_image }}</div>
            {% endif %}   
        {% elseif callout_img_loc == 'left' %}
            {% if has_callout_image %}
                <div class="img-left">{{ callout_image }}</div>
            {% endif %}
            <div {{ bem(callout__base_class ~ '-text', []) }}>
                {{ callout_body }}
                {{ link_content }}
            </div>
        {% else %}
            <div {{ bem(callout__base_class ~ '-text', []) }}>
                {{ callout_body }}
                {{ link_content }}
            </div>
        {% endif %}
    </div>

</div>
