{% set announcement_base_class = 'announcement' %}

{% if (image|render) %}
  <div {{ bem('image', ['full'], announcement_base_class) }} >
   {% include '@atoms/images/icons/decor/_decor.twig' with {
      pattern: 'dots',
    } %}
    {{ image }}
  </div>
{% endif %}

<div {{ bem('text-wrapper', [], announcement_base_class) }} >

    <div {{ bem('date', [], announcement_base_class) }} >
      {{ type }} | {{ node.createdtime|format_date('simple_date') }}
    </div>

  {{ title_prefix }}
    {% if not page %}
      {% include "@atoms/text/headings/_heading.twig" with {
        "heading_level": 2,
        "heading": label,
        "heading_url": link,
      } %}
    {% endif %}
    {{ title_suffix }}

  <p>{{ body }}</p>
</div>