{#
    calendar_link is set for alternate link
    registration_link is set for registration_link

#}


{% set simple_event__base_class = 'simple-event' %}

<div {{bem(simple_event__base_class,[]) }} >
    <div class="simple-event-wrapper">
        <div class="simple-event-image">
            {{ event_image }}
        </div>
        <div class="simple-event-side-text">
            <div class="event-title">{{event_title}}</div>
            
            <div class="simple-event-special-info">
            
                {# this needs to be fixed to try and extract the start date from the ranged date field so that the xml feed can work properly #}
                {% if both_ranged_dates %}
                    {% embed "@atoms/fields/icon/icon-field.twig" with {
                        'icon': 'location',
                        "field_modifiers": ['location', modifiers],
                    }%}
                    {# Use the calendar icon instead of the location icon #}
                    {% block additional_content %}  
                        {{both_ranged_dates|nl2br}}
                    {% endblock %}
                    {% endembed %}
                    
                {% else %}
                    {% if ranged_date and ranged_time %}
                        {% embed "@atoms/fields/icon/icon-field.twig" with {
                            'icon': 'location',
                            "field_modifiers": ['location', modifiers],
                        }%}
                        {# Use the calendar icon instead of the location icon #}
                        {% block additional_content %}  
                            {{ranged_date}}
                        {% endblock %}
                        {% endembed %}
                        {# seperate embeds/blocks for the date and then time #}
                        {% embed "@atoms/fields/icon/icon-field.twig" with {
                            'icon': 'location',
                            "field_modifiers": ['location', modifiers],
                        }%}
                        {# Use the time/clock icon instead of the location icon #}
                        {% block additional_content %}  
                            {{ranged_time}}
                        {% endblock %}
                        {% endembed %}
                      {% endif %}  
                {% endif %}

                {# Location stuff #}
                {% if (geo_location_lat and geo_location_long) or text_location %}
                    <div class="simple-event-location">
                        {% embed "@atoms/fields/icon/icon-field.twig" with {
                            'icon': 'location',
                            "field_modifiers": ['location', modifiers],
                        }%}
                        {% block additional_content %}
                            {% if geo_location_lat and geo_location_long and not text_location %}
                                    {# <a class="link" href="https://www.google.com/maps/search/?api=1&query={{geo_location_lat}}%2C{{geo_location_long}}" target="_blank">View Location on Google Maps</a> #}
                                    {% set location_url = "https://www.google.com/maps/search/?api=1&query=" ~ geo_location_lat ~ "," ~ geo_location_long %}
                                    {% include "@atoms/links/link/link.twig" with {
                                        link_url: location_url,
                                        link_content: 'View Location on Google Maps'
                                    } %}   
                            {% elseif  not (geo_location_lat and geo_location_long) and text_location %}  
                                    {{text_location}}
                            {% elseif geo_location_lat and geo_location_long and text_location %}
                                    {# Location: <a class="link"  href="https://www.google.com/maps/search/?api=1&query={{geo_location_lat}}%2C{{geo_location_long}}" target="_blank">{{text_location}}</a>#}
                                    {% set location_url = "https://www.google.com/maps/search/?api=1&query=" ~ geo_location_lat ~ "," ~ geo_location_long %}
                                    {% include "@atoms/links/link/link.twig" with {
                                        link_url: location_url,
                                        link_content: text_location
                                    } %} 
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                    </div>
            {% endif %}


                {# for now the primary link is for registration links only #}
                {% if registration_link %}
                    {# uncomment and remove the next div if you want to apply the  link styling with the arrow ( I prefer that one. )
                    <div class="simple-link"> #}
                    <div>
                        <a class="link" href="{{registration_link}}" target="_blank">Register for Virtual Event</a>
                    </div>
                    {% endif %}

                {% if calendar_link %}
                {# uncomment and remove the next div if you want to apply the  link styling with the arrow ( I prefer that one. )
                    <div class="simple-link"> #}
                    <div>
                        <a class="link" href="{{calendar_link}}" target="_blank">View on the Lehigh Calendar</a>
                    </div>
                {% endif %}
                
            </div>

            <div class= "simple-event-body">
                {{body}}
            </div>
            
            {% if is_teaser %}
                {% set node_link = '<a href="/node/{{node_id}}">View Full Event Details</a>' %}
                
                <div class="simple-button">
                    <a href="/node/{{node_id}}">View Full Event Details</a>
                </div>
                {#
                 {% include '@atoms/buttons/simple-link.twig' with {
                    link_content: node_link|render,
                } %}
                #}

            {% endif %}

        </div>
        
            {% if not is_teaser %}
                <div class="simple-event-map">
                    {{geo_location_map}}
                </div>
            {% endif %}
        
    </div>
</div>
